
.citacao-bio {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
    margin: 20px 40px;
    padding: 20px;
}

.citacao-bio-petrobras-reset-margin-left {
	margin-left: 0px;
}

.fiat {
	float: right;
}

.petrobras {
	float: left;
}

cite {
	font-style: italic;
	float: right;
}