.caixa {
    border: 8px solid black;
    width: 320px;
    padding: 10px;
    background-color: #FAFFFA;
    float: left;
    position: relative;
}

.caixa figcaption {
    padding: 3px;
}

.container {
    width: 740px;
}

.caixa-even {
    margin-right: 20px;
}

.caixa-cima {
    margin-bottom: 20px;
}

.rodape-pagina {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
